/* --------------- Extra css ---------------*/

/* Body */
body {
  font-family: Arial, Helvetica, sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
  color: #fff;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.01em;
}
body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* --------------- Banner & Logo ---------------*/

/* Banner */
.banner {
  background-color: #0075be;
  border: 5px solid #ffcc00;
  border-radius: 10px;
  text-align: center;
  margin: 10px 30px 0 30px;
  user-select: none;
}

/* Logo */
.logo {
  width: 45%;
  max-width: 60%;
  min-width: 30%;
  padding: 30px 0 30px 0;
  user-select: none;
  -webkit-user-drag: none;
}

/* --------------- Search ---------------*/

/* Input group (search) */
.input-group {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  min-width: 0%;
  max-width: 60%;
  margin-top: -5px;
}

/* Font sizing */
.input-group label,
.input-group input[type="text"],
.input-group input[type="button"] {
  font-size: 1.2em;
}

/* Label */
.input-group label {
  border-top: 3px solid #ffcc00;
  background-color: #ffcc00;
  padding: 10px;
  border-radius: 0 0 0 10px;
  border-left: 5px solid #ffcc00;
  border-bottom: 5px solid #ffcc00;
  border-bottom-left-radius: 10px;
  pointer-events: none;
  color: black;
}

/* Search bar */
.input-group input[type="text"] {
  flex: 1 1;
  border-bottom: 5px solid #ffcc00;
  border-top: 3px solid #0075be;
  border-left: 5px solid #ffcc00;
  border-right: 5px solid #ffcc00;
  outline: none;
}

/* Search button & hover*/
.input-group input[type="button"] {
  padding: 0 40px;
  border-bottom-right-radius: 10px;
  background-color: #ffcc00;
  border-bottom: 5px solid #ffcc00;
  border-top: 3px solid #ffcc00;
  border-left: none;
  border-right: 5px solid #ffcc00;
  cursor: pointer;
}

.input-group input[type="button"]:hover {
  background-color: #ffcc63;
  transition: 0.3s ease;
}

/* --------------- Error Modal ---------------*/
.modal-content {
  background-color: white;
  border: 3px outset #ffcc00;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 2;
  color: black;
}
/* modal header and footer */
.modal-header {
  border-bottom: 2px outset black;
}
.modal-footer {
  border-top: 2px outset black;
}

/* --------------- Moves Modal ---------------*/

.moves-content {
  padding: 10px;
  background-color: white;
  border: 3px outset #ffcc00;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 2;
  color: black;
}

.moves-header {
  border-bottom: 2px outset black;
  padding: 10px 0 0 0;
}
.btn-close {
  position: relative;
  right: -730px;
  top: -30px;
}
.moves-body {
  padding: 10px 0;
}
.moves-footer {
  padding: 10px 0 0 0;
  border-top: 2px outset black;
  display: flex;
  align-items: end;
}

/* --------------- Main components ---------------*/

/* Container */
.container {
  margin: 5px auto 0 auto;
  color: #000;
}

/* Horiztional rule spacing */
.hr {
  padding: 0;
  margin: 10px 0;
  border: 2px outset black;
}

/* Rows */
.row {
  position: relative;
  display: flex;
  background-color: white;
  padding: 10px 0;
  margin: 30px 10px;
  border: 3px outset #000;
  border-radius: 10px;
}

/* --------------- Pokemon Details ---------------*/

#pokemon-details {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: right;
  padding-right: 110px;
}

/* pokemon image container */
.pokemon-image {
  position: absolute;
  right: -50px;
  top: -10px;
  padding: 0;
  width: 150px;
  z-index: 1;
  border-radius: 50%;
  border: 5px outset black;
  background-color: white;
}

/* Pokemon image */
.pokemon-image img {
  width: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

/* --------------- Abilities & move list & item list---------------*/
.ability-list,
.item-list,
.move-list,
.more-btn {
  border: 2px inset black;
  border-radius: 6px;
  padding: 4px;
  color: #000;
  display: inline-flex;
  background-color: #0075be;
  margin: 0 5px;
}

.item-list {
  background-color: #d5a100;
}

.move-list {
  background-color: #ffcc00;
}

.more-btn {
  background-color: #0075be;
  border: 2px inset #0a285f;
}

.scrollable-container {
  width: 100%;
  overflow-y: auto;
}

#ability-row span {
  padding: 10px 5px;
}

.move-list {
  margin-top: 5px;
}
/* --------------- Stats ---------------*/

/* Stats title */
#stats-title {
  font-weight: bold;
  color: #000;
  font-size: 24px;
}

.progress-bar {
  border-radius: 6px;
}

.progress {
  background-color: rgba(71, 71, 71, 0.2);
}
/* stats progress-bar text */
.progress-text {
  font-weight: 650;
  color: #000;
}

/* stats name */
.stats-name {
  font-weight: bold;
  font-size: 16px;
}

/* --------------- Pokemon type --------------- */
/* type design */
#type-box .type {
  border: 2px solid black;
  border-radius: 6px;
  padding: 4px;
  color: #000;
  display: inline-flex;
  margin: 0 5px;
}

#type-box .type:first-child {
  margin-left: 0px;
}

/* Bug */
#type-box .bug {
  background-color: #a8b820;
  border-color: #5c5c3d;
}

/* Dark */
#type-box .dark {
  background-color: #705848;
  border-color: #7d7d59;
}

/* Dragon */
#type-box .dragon {
  background-color: #7038f8;
  border-color: #000000;
}

/* Electric */
#type-box .electric {
  background-color: #f8d030;
  border-color: #a1871f;
}

/* Fairy */
#type-box .fairy {
  background-color: #ee99ac;
  border-color: #9b6470;
}

/* Fighting */
#type-box .fighting {
  background-color: #c03028;
  border-color: #8e1600;
}

/* Fire */
#type-box .fire {
  background-color: #f08030;
  border-color: #9c531f;
}

/* Flying */
#type-box .flying {
  background-color: #a890f0;
  border-color: #6d5e9c;
}

/* Ghost */
#type-box .ghost {
  background-color: #705898;
  border-color: #493963;
}

/* Grass */
#type-box .grass {
  background-color: #78c850;
  border-color: #4e8234;
}
#type-box 

/* Ground */
#type-box .ground {
  background-color: #e0c068;
  border-color: #927d44;
}

/* Ice */
#type-box .ice {
  background-color: #98d8d8;
  border-color: #638d8d;
}

/* Normal */
#type-box .normal {
  background-color: #a8a878;
  border-color: #6d6d4e;
}

/* Poison */
#type-box .poison {
  background-color: #a040a0;
  border-color: #682a68;
}

/* Psychic */
#type-box .psychic {
  background-color: #f85888;
  border-color: #a13959;
}

/* Rock */
#type-box .rock {
  background-color: #b8a038;
  border-color: #786824;
}

/* Steel */
#type-box .steel {
  background-color: #b8b8d0;
  border-color: #787887;
}

/* Water */
#type-box .water {
  background-color: #6890f0;
  border-color: #445e9c;
}
