/* --------------- Extra css ---------------*/

/* Body */
body {
  font-family: Arial, Helvetica, sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
  color: #fff;
  position: relative;
  scroll-behavior: smooth;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-thumb {
  background-color: #ffcc00;
  border: 1px outset black;
  border-radius: 5px;
}

/* --------------- Banner & Logo ---------------*/

/* Banner */
.banner {
  background-color: #0075be;
  border: 5px solid #ffcc00;
  border-radius: 10px;
  text-align: center;
  margin: 20px 30px 0 30px;
  user-select: none;
  -webkit-box-shadow: 13px 11px 5px -4px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 13px 11px 5px -4px rgba(0, 0, 0, 0.32);
  box-shadow: 13px 11px 5px -4px rgba(0, 0, 0, 0.32);
}

/* Logo */
.logo {
  width: 45%;
  max-width: 60%;
  min-width: 30%;
  padding: 30px 0 30px 0;
  user-select: none;
  -webkit-user-drag: none;
}

/* --------------- Search ---------------*/

/* Input group (search) */
.input-group {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 30%;
  max-width: 80%;
  margin-top: -5px;
}

/* Font sizing */
.input-group label,
.input-group input[type="text"],
.input-group input[type="button"] {
  font-size: 1.2em;
  -webkit-box-shadow: 13px 11px 5px -4px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 13px 11px 5px -4px rgba(0, 0, 0, 0.32);
  box-shadow: 13px 11px 5px -4px rgba(0, 0, 0, 0.32);
}

/* Label */
.input-group label {
  border-top: 3px solid #ffcc00;
  background-color: #ffcc00;
  padding: 10px;
  border-radius: 0 0 0 10px;
  border-left: 5px solid #ffcc00;
  border-bottom: 5px solid #ffcc00;
  border-bottom-left-radius: 10px;
  pointer-events: none;
  color: black;
}

/* Search bar */
.input-group input[type="text"] {
  flex: 1 1;
  border-bottom: 5px solid #ffcc00;
  border-top: 3px solid #0075be;
  border-left: 5px solid #ffcc00;
  border-right: 5px solid #ffcc00;
  outline: none;
}

/* Search button & hover*/
.input-group input[type="button"] {
  padding: 0 40px;
  border-bottom-right-radius: 10px;
  background-color: #ffcc00;
  border-bottom: 5px solid #ffcc00;
  border-top: 3px solid #ffcc00;
  border-left: none;
  border-right: 5px solid #ffcc00;
  cursor: pointer;
}

.input-group input[type="button"]:hover {
  background-color: #ffcc63;
  transition: 0.3s ease;
}

/* --------------- Modals Styling ---------------*/
.modal-content {
  background-color: white;
  border: 3px outset #ffcc00;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 2;
  color: black;
  -webkit-box-shadow: 13px 11px 5px -4px #ffcc00;
  -moz-box-shadow: 13px 11px 5px -4px #ffcc00;
  box-shadow: 13px 11px 5px -4px #ffcc00;
}
/* modal header and footer */
.modal-header {
  border-bottom: 2px outset black;
}
.modal-footer {
  border-top: 2px outset black;
}

/* --------------- Moves Modal ---------------*/
.modal-body::-webkit-scrollbar {
  width: 0.5em;
}
.modal-body::-webkit-scrollbar-thumb {
  background-color: #ffcc00;
  border: 1px outset black;
  border-radius: 5px;
}

/* --------------- Pokemon listing ---------------*/
/* Container body */
.listing-body {
  background-color: white;
  border: 3px outset #ffcc00;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -380px;
  width: 90%;
  z-index: 1;
  color: black;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* design card for listing */
.pokemon-card {
  margin: 10px 35px;
  padding: 110px 80px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 5px;
  border: 3px outset black;
  background-color: transparent;
  -webkit-box-shadow: 8px 8px 5px -4px #ffcc00;
  -moz-box-shadow: 8px 8px 5px -4px #ffcc00;
  box-shadow: 8px 8px 5px -4px #ffcc00;
  display: block;
  user-select: none;
  width: 20%;
  box-sizing: border-box; /
}

/* Pokemon card header*/
.pc-header {
  position: relative;
  top: -113px;
  right: 83px;
  background-color: #ffcc00;
  border: 3px inset black;
  border-radius: 18px 0 100px 0;
  width: 50%;
  padding-left: 10px;
  height: 10%;
}
/* header paragraph */
.pc-header p {
  font-size: 16px;
  font-weight: 600;
}

/* Body */
.pc-body {
  position: relative;
  border: 3px inset black;
  border-radius: 50%;
  width: 180px;
  max-width: 300px;
  min-width: 100px;
  top: -80px;
  right: auto;
  left: auto;
  padding: 0px;
  margin: 0px;
}

/* Body image */
.pc-body img {
  width: 100%;
  -webkit-user-drag: none;
}

/* pokemon name */
.pc-name {
  text-align: center;
  display: block;
  position: relative;
  left: 0px;
  bottom: 40px;
}
/* pc name paragraph */
.pc-name p {
  font-size: 32px;
  font-weight: 600;
}

/* pokemon type */
.pc-type {
  position: relative;
  left: 70px;
}
/* Paragraph */
.pc-type p {
  color: #ffcc00;
  font-size: 20px;
  font-weight: 600;
}

/* View pokemon button */
.pc-view {
  margin: 0;
  position: relative;
  top: 60px;
  left: 30px;
  background-color: #ffcc00;
  padding: 10px;
  border: 3px outset #d5a100;
  border-radius: 6px;
  cursor: pointer;
}

/* Bug */
.listing-body .bug {
  border-color: #5c5c3d;
}

/* Dark */
.listing-body .dark {
  border-color: #7d7d59;
}

/* Dragon */
.listing-body .dragon {
  border-color: #000000;
}

/* Electric */
.listing-body .electric {
  border-color: #a1871f;
}

/* Fairy */
.listing-body .fairy {
  border-color: #9b6470;
}

/* Fighting */
.listing-body .fighting {
  border-color: #8e1600;
}

/* Fire */
.listing-body .fire {
  border-color: #9c531f;
}

/* Flying */
.listing-body .flying {
  border-color: #6d5e9c;
}

/* Ghost */
.listing-body .ghost {
  border-color: #493963;
}

/* Grass */
.listing-body .grass {
  border-color: #4e8234;
}

/* Ground */
.listing-body .ground {
  border-color: #927d44;
}

/* Ice */
.listing-body .ice {
  border-color: #638d8d;
}

/* Normal */
.listing-body .normal {
  border-color: #6d6d4e;
}

/* Poison */
.listing-body .poison {
  border-color: #682a68;
}

/* Psychic */
.listing-body .psychic {
  border-color: #a13959;
}

/* Rock */
.listing-body .rock {
  border-color: #786824;
}

/* Steel */
.listing-body .steel {
  border-color: #787887;
}

/* Water */
.listing-body .water {
  border-color: #445e9c;
}

/* --------------- Main components ---------------*/

/* Container */
.container {
  margin: 5px auto 0 auto;
  color: #000;
}

/* Horiztional rule spacing */
.hr {
  padding: 0;
  margin: 10px 0;
  border: 2px outset black;
}

/* Rows */
.row {
  position: relative;
  display: flex;
  background-color: white;
  padding: 10px 0;
  margin: 30px 10px;
  border: 3px outset #000;
  border-radius: 10px;
  -webkit-box-shadow: 13px 11px 5px -4px #ffcc00;
  -moz-box-shadow: 13px 11px 5px -4px #ffcc00;
  box-shadow: 13px 11px 5px -4px #ffcc00;
  transition: 0.3s ease-in-out;
}

/* --------------- Pokemon Details ---------------*/

#top-row span {
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
}

#type-box,
.ability-list,
.item-list,
.move-list {
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
}

#pokemon-details {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: right;
  padding-right: 110px;
}

/* pokemon image container */
.pokemon-image {
  position: absolute;
  right: -80px;
  top: -15px;
  padding: 0;
  width: 180px;
  z-index: 1;
  border-radius: 50%;
  border: 5px outset black;
  background-color: white;
  -webkit-box-shadow: 13px 11px 5px -4px #ffcc00;
  -moz-box-shadow: 13px 11px 5px -4px #ffcc00;
  box-shadow: 13px 11px 5px -4px #ffcc00;
}

/* Pokemon image */
.pokemon-image img {
  width: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

/* --------------- Abilities & move list & item list---------------*/
.ability-list,
.item-list,
.move-list,
.more-btn {
  border: 2px inset black;
  border-radius: 6px;
  padding: 4px;
  color: #000;
  display: inline-flex;
  background-color: #0075be;
  margin: 0 5px;
}

.item-list {
  background-color: #d5a100;
}

.move-list {
  background-color: #ffcc00;
}

.more-btn {
  background-color: #0075be;
  border: 2px inset #0a285f;
}

.scrollable-container {
  width: 100%;
  overflow-y: auto;
}

#ability-row span {
  padding: 10px 5px;
}

.move-list {
  margin-top: 5px;
}
/* --------------- Stats ---------------*/

/* Stats title */
#stats-title {
  font-weight: bold;
  color: #000;
  font-size: 24px;
}

.progress-bar {
  border-radius: 6px;
}

.progress {
  background-color: rgba(71, 71, 71, 0.2);
}
/* stats progress-bar text */
.progress-text {
  font-weight: 650;
  color: #000;
}

/* stats name */
.stats-name {
  font-weight: bold;
  font-size: 16px;
}

/* --------------- Pokemon type --------------- */
/* type design */
#type-box .type {
  border: 2px solid black;
  border-radius: 6px;
  padding: 4px;
  color: #000;
  display: inline-flex;
  margin: 0 5px;
}

#type-box .type:first-child {
  margin-left: 0px;
}

/* Bug */
#type-box .bug {
  background-color: #a8b820;
  border-color: #5c5c3d;
}

/* Dark */
#type-box .dark {
  background-color: #705848;
  border-color: #7d7d59;
}

/* Dragon */
#type-box .dragon {
  background-color: #7038f8;
  border-color: #000000;
}

/* Electric */
#type-box .electric {
  background-color: #f8d030;
  border-color: #a1871f;
}

/* Fairy */
#type-box .fairy {
  background-color: #ee99ac;
  border-color: #9b6470;
}

/* Fighting */
#type-box .fighting {
  background-color: #c03028;
  border-color: #8e1600;
}

/* Fire */
#type-box .fire {
  background-color: #f08030;
  border-color: #9c531f;
}

/* Flying */
#type-box .flying {
  background-color: #a890f0;
  border-color: #6d5e9c;
}

/* Ghost */
#type-box .ghost {
  background-color: #705898;
  border-color: #493963;
}

/* Grass */
#type-box .grass {
  background-color: #78c850;
  border-color: #4e8234;
}

/* Ground */
#type-box .ground {
  background-color: #e0c068;
  border-color: #927d44;
}

/* Ice */
#type-box .ice {
  background-color: #98d8d8;
  border-color: #638d8d;
}

/* Normal */
#type-box .normal {
  background-color: #a8a878;
  border-color: #6d6d4e;
}

/* Poison */
#type-box .poison {
  background-color: #a040a0;
  border-color: #682a68;
}

/* Psychic */
#type-box .psychic {
  background-color: #f85888;
  border-color: #a13959;
}

/* Rock */
#type-box .rock {
  background-color: #b8a038;
  border-color: #786824;
}

/* Steel */
#type-box .steel {
  background-color: #b8b8d0;
  border-color: #787887;
}

/* Water */
#type-box .water {
  background-color: #6890f0;
  border-color: #445e9c;
}
/* --------------- Hide all UI --------------- */

/* Class to hide all UI */
.hidden-ui {
  color: transparent;
  background-color: transparent;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: none;
}
